<head>
    <style>
        #jumbrotron {
            background-color: black;
            border-radius: 5px;
            width: 500px;
            padding: 5px;
        }

        p{
            color: white;
        }
    </style>
</head>

<body>
    <h1 class="text-center, hr-lines">About Us</h1><br>

    <center>
        <h3 class="text-center">What We Do</h3>
        <div id="jumbrotron">
            <p>
                We have long-standing subject and market transformation expertise in renewable energy, clean transportation, building performance and energy efficiency – and understand the policies and regulations that influence their effective implementation.<br> We offer large-scale market transformation services, including rebate and incentive program design and administration, end-user engagement campaigns, policy guidance, and other consulting services.
            </p>
        </div>
        <br>
        <h3 class="text-center">Who We Are</h3>
        <div id="jumbrotron">
            <p>
                We are a unique organization thanks to our independent position, our holistic view of sustainability and our role in the marketplace. We are a nonprofit that doesn’t answer to donors, corporations, shareholders or lobbyists. We fund our efforts the old-fashioned way, by delivering the best service for value under contract. And as a mission-based organization, our core values undergird everything we do. </p>
        </div>
     </center>
</body>