
@{
    ViewBag.Title = "Home";
}

<h2>Center for Sustainable energy: International</h2>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <p>
            <a href="/u20582006_HW04/Narrative(u20582006).pdf">Use Case Narratives</a><br>
            <a href="/u20582006_HW04/ClassStructure(u20582006).pdf">Class Structure Diagrams</a>
        </p>
    </div>

    <!-- Additional -->
    <script src="https://kit.fontawesome.com/47ada06d18.js" crossorigin="anonymous"></script>
</body>