
<head>
    <style>
        * {
            box-sizing: border-box;
        }

        .column {
            float: float;
            width: 30%;
            padding: 10px;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>
<body>
    <h1 class="hr-lines">NewsLetter</h1>

    <p>
        Stay in the loop by subscribing to our newsletter featuring our latest insights, recent news and top research<br>
        By signing up to our newsletter we will link you up to an organisation near you
    </p>
    <br>

    <!--Submit newsletter information-->
    @using (Html.BeginForm("Newsletter", "Home", FormMethod.Post))
    {

        <div class="row">
            <div class="column, col-lg-6, col-md-4">
                <label for="fname">First name</label><br>
                <input type="text" id="fname" name="fname"><br>
            </div>
            <div class="column, col-lg-6, col-md-4">
                <label for="lname">Last name</label><br>
                <input type="text" id="lname" name="lname"><br>
            </div>
            <div class="column, col-lg-6, col-md-4">
                <label for="cname">Continent</label><br>
                <input type="text" id="cname" name="cname"><br>
            </div>
            <div class="column, col-lg-6, col-md-4">
                <label for="email">Email</label><br>
                <input type="text" id="email" name="email"><br>
            </div>
            <br>
        </div>
        <center>
            <input class="btn-primary" type="submit" value="Submit" />
        </center>
    }

    <!-- Call messages -->
    @if (ViewBag.Message != null)
    {
        <p>Peepoo</p>
        <!--<p>User.Info()</p>
        <p>User.Message()</p>-->
    }


</body>
